In [1]:
import json
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
path = 'shop_85.json'

shops = []
features = []
with open(str(path)) as in_file:
    item_list = json.load(in_file)

    for item in item_list:
        try:
            shop_data = item['shop']
            location_data = item['pinLocation']
            sub_category = '' 
            if 'subcategoryName' in shop_data:
                sub_category = shop_data['subcategoryName']

            # for analysis
            shop = {
                'name': shop_data['shopNameTH'],
                'category': shop_data['categoryName'],
                'sub_category': sub_category,
                'latitude': location_data['lat'],
                'longitude': location_data['lon']
            }
            shops.append(shop)

            # for displaying map
            coordinates = [location_data['lon'], location_data['lat']]
            geometry = {
                'coordinates': coordinates,
                'type': 'Point'
            }
            properties = {
                'name': shop_data['shopNameTH'],
                'category': shop_data['categoryName'],
                'sub_category': sub_category
            }
            feature = {
                'geometry': geometry,
                'properties': properties,
                'type': 'Feature'
            }
            features.append(feature)
        except:
            print(item['id'])

geo_json = {
    'features': features,
    'type': 'FeatureCollection'
}

with open('geo_shop_85.json', 'w', encoding='utf8') as out_file:
    json.dump(geo_json, out_file, ensure_ascii=False)
    
df = pd.DataFrame(shops)
df

af2e6ff2b201ed8c578df33e5df253d4
a0d990bbd9666bf49af5752bf483c3fc
8fd455cc0d84774a054dd5a9a2bb91f7
6b064a0498077e867cc61cb3f1cbd543
a8951413ec1f9c1c061b1c94b852179a
3abaf7f43bc9c1bc722e7f77cf5f08b7
6b064a0498077e867cc61cb3f1cbd543
6e06c33fdfdaef582f5a73742aab041a
70d8941cc67f21449b553394b644884c
a8951413ec1f9c1c061b1c94b852179a

,name,category,sub_category,latitude,longitude
0,พี่หนึ่งขายผัก,ร้านอาหาร,ร้านขายผลไม้ / ร้านขายผัก,9.742572,98.598684
1,เจ้ตุ๊ก ไก่สด,ร้านอาหาร,อื่นๆ,9.960587,98.630304
2,ร้านจ๊ะบี้,ซุปเปอร์มาร์เก็ต/ขายของใช้/ขายของชำ/มินิมาร์ท/...,มินิมาร์ท / ร้านขายของชำ,9.678280,98.570803
3,ร้านอิสลามโอชา,ร้านอาหาร,อาหารทั่วไป อาหารตามสั่ง อาหารจานเดียว,9.964435,98.634115
4,ฮาน่า,แฟชั่น,ร้านขายเสื้อผ้า / เครื่องประดับ / สินค้าแฟชั่น,9.961718,98.626260
...,...,...,...,...,...
613,ร้านพี่ป้อมขายผ้า,แฟชั่น,ร้านขายเสื้อผ้า / เครื่องประดับ / สินค้าแฟชั่น,9.961741,98.633063
614,อภิชัย สร้างเลี่ยน,ร้านอาหาร/เครื่องดื่ม,,9.896994,98.625047
615,ร้านของชำลุงสานป้าวรรณ,ร้านค้าธงฟ้า,,8.713742,86.054186
616,ร้านมะเฟือง,ร้านค้าธงฟ้า,,9.964282,98.633995
617,พรทิพย์ซุปเปอร์,ร้านค้าธงฟ้า,,10.330946,98.767456